
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

<div>

</div>

<script>
    var socket = io('http://raspberry.local:8001');
    socket.on('connect', function () {
        setInterval(() => {
            socket.emit('status');
            socket.on('status', (data) => {
                document.querySelector('div').innerText = JSON.stringify(data);
            });
        }, 1000);
    });
</script>